body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

.header-menu {
	float: right;
	margin-right: 5%;
	padding-right: 2%;
	height: 60px;
	margin-top: 50px;
}
.main-menu ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.main-menu ul li{
    float: left;
}
.main-menu ul li a {
	display: block;
	margin-left: 20px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #3C3C3C;
}
.two-part-section {
    clear: both;
    /* স্যার আমি এটা অনেক কষ্ট করে গুগল সার্চচ করে বের করেছি। */
    height: 500px;
}
.section-part {
	width: 40%;
	float: left;
	margin-left: 5%;
	padding-left: 2%;
}
.section-part h1{
    font-size: 80px;
    font-weight: bold;
    color: #363958;
    font-family: 'Bebas Neue', cursive;
}
.section-part h1 span{
    color: #FF8367;
    display: block;
}
.section-part p {
	font-size: 16px;
	line-height: 28px;
	width: 80%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    color: #3E3E3E;
}
.section-part img {
	max-width: 100%;
	height: 500px;
	float: right;
}
.hire-btn, .resume-btn, .chat-btn {
	padding: 15px 30px;
	background-image: linear-gradient(45deg,#FF7F63, #F46060);
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
}
.section-part.about-img img {
	float: left;
}
.section-part.about-text h2 {
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 700;
	color: #363958;
	font-family: 'Bebas Neue', cursive;
}
.about-section{
    clear: both;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.part-three {
	background-color: #e5e5e5;
	padding: 100px 0;
}
.project-heading {
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    margin-bottom: 70px;
}
.project-heading span{
    color: #F46060;
}
.part-three {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 750px;
}
.single-project {
	padding: 10px;
	width: 30.33%;
	background-color: #fff;
	border-radius: 10px;
	float: left;
	margin: 15px;
}
.single-project img {
	width: 100%;
	margin-bottom: 20px;
}
.single-project a {
	font-size: 24px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #363958;
}
.single-project p {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 28px;
	color: #6C6C6C;
}

.inquery-section {
	height: 300px;
	padding-top: 60px;
	padding-bottom: 10px;
}
.section-bg {
	background-size: inherit;
	background-position: center;
	background-repeat: no-repeat;
	width: 80%;
	margin: 0 auto;
	height: 250px;
}
.left-content {
	float: left;
	width: 40%;
	margin-left: 23%;
	margin-top: 2%;
}
.left-content h2 {
	font-size: 64px;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
}
.right-content {
	float: left;
	margin-top: 7%;
	margin-left: 2%;
}
.footer-area {
	padding-left: 6%;
	padding-right: 6%;
	margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.footer-area h3{
    text-transform: uppercase;
    color: #696871;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
}
.footer-area a{
    color: #363958;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.social-icon {
	clear: both;
	margin-left: 44%;
	margin-top: 2%;
}
  .social-icon li {
    list-style: none;
    float: left;
  }
  .social-icon li a img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }